@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  /* background: #000 url("./components/images/blue-snow.png") repeat center
    center/contain; */
  background-color: rgb(218, 228, 231);
  height: 100vh;
  color: #000;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

main {
  /* display: flex; */
  border-radius: 15px;
  box-shadow: 0 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  background-color: #ffffff;
  margin: 10px;
}
form {
  display: flex;
}
.section1 {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}
.graph {
  padding: 20px;
  width: 60%;
}
.weatherMain {
  display: flex;
  align-items: center;
  justify-content: center;
}
.weatherMain h1 {
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
  font-size: 100px;
}
.weatherIcon {
  width: 150px;
  height: 150px;
}
.weatherDescription {
  margin-top: 10px;
  text-transform: capitalize;
}
.degree {
  vertical-align: super;
  font-size: 50px;
}
.weatherResults {
  margin-top: 20px;
}
.weatherResultBottom h6 {
  font-weight: 600;
}
.weatherResultBottom {
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.weatherResultTop {
  text-align: center;
}

/* ------------------------ */
header {
  margin-top: 2rem;
  /* height: 200px; */
}

.header-image {
  width: 400px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-section {
  display: flex;
  flex-direction: column;
}
.input-section input {
  width: 300px;
  height: 3rem;
  border: none;
  border-bottom: 2px solid #d6d6d6;
  padding: 0 1rem;
}
.input-section input::placeholder {
  font-size: 1.5rem;
  color: #adadad;
  opacity: 1;
  line-height: normal !important;
}
.input-section input:focus,
.input-section input:active {
  outline: none;
}
.input-section button {
  border: 1px solid black;
  margin-top: 1rem;
  height: 3rem;
  width: 6rem;
  border-radius: 10%;
  background-color: white;
  color: #000;
}
.details {
  margin-top: 2rem;
}
.weather-card {
  /* display: flex; */
  padding: 2rem;
  justify-content: center;
  align-items: center;
  background: #f6f5fa;
  width: 100%;
  max-width: 350px;
  height: auto;
  max-height: 400px;
  margin: 1rem auto;
  border-radius: 20px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.16);
}
footer {
  margin-top: 21rem;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 1rem 0;
}
@media only screen and (min-width: 600px) {
  .section1 {
    width: 50%;
  }
  main {
    flex-direction: row;
    margin: 10px;
  }

  /*------------------------*/
  .weather-card {
    max-width: 472px;
    max-height: 446px;
  }
  .input-section {
    flex-direction: row;
  }
  .input-section input {
    width: 320px;
  }
  .input-section button {
    margin-top: 0;
    margin-left: 0.1rem;
  }
  .weather-card {
    padding: 3rem;
  }
  footer {
    margin-top: 20rem;
  }
}
